POSTGRES_CONTAINER_NAME=dwh-postgres
POSTGRES_DB=dwh
POSTGRES_USER=dwh
POSTGRES_PASSWORD=dwh
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

ETL_CRON_SCHEDULE=0 0 * * *     # Taeglich um 0:00
ETL_CRON_SCRIPT=/app/scripts/steam_etl_incremental.py

ETL_APPS_LIMIT=0               # 0 = alle News fetchen
ETL_STEAMSPY_LIMIT=0           # 0 = alle Apps
ETL_SKIP_NEWS=0                # 1 = News-Phase ueberspringen
NEWS_MAX_PAGES=100             # 100 = Steamstandard
NEWS_PAGE_SIZE=100             # 100 = Steamstandard
NEWS_SLEEP_S=0                 # Sekunden Pause zwischen Apps
COMMIT_EVERY_APPS=1
LOG_EVERY=1
LOG_CONFLICTS_LIMIT=20
TZ=UTC

PGADMIN_CONTAINER_NAME=dwh-pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

SUPERSET_CONTAINER_NAME=dwh-superset
SUPERSET_PORT=8088
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=change-me
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset
SUPERSET_LOAD_EXAMPLES=false
DWH_SQLALCHEMY_URI=postgresql+psycopg2://dwh:dwh@postgres:5432/dwh
SUPERSET_CONFIG_PATH=/app/superset_config.py